html, body{
    margin: 0;
    padding: 0;

    height: 100%;
}

h1 {
    margin:0;
    color: white;
    background-color: #231f20;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 48px);
    background-color: #231f20;
}

#list {
    margin-bottom: 24px;
    background-color: #efe6dd;
    height: 100%;
    flex: 4;
    margin: 12px;
    border-radius: 24px;
    /* margin: 12px; */
    height: 96%;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

#form {
    margin: 12px;
    flex: 2;
    padding: 20px;
    background-color: #bb4430;
    border-radius: 24px;

    overflow-y: auto;
}

#iImportant {
    color: #333;
    font-size: 30px;
    cursor: pointer;
}

#iImportant:hover {
    color: #212121;
}

.important-icon {
    color: #ee9617 !important;
}

.task-card {
    background: #efe6dd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 12px;
    margin: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-start {
    justify-content: flex-start;
}

.description {
    /* width: auto; */
    word-wrap: break-word;
}

#delete-btn {
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
}

.btn-p {
    color: white;
    background-color: #7ebdc2;
    border-color: #7ebdc2;
}

.btn-p:hover {
    color:white;
    background-color: #5a888b;
    border-color: #5a888b;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 24px;
}

::-webkit-scrollbar-thumb {
    background: #7ebdc2;
    border-radius: 24px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5a888b;
}