html, body, *{
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    background-color: #212121;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 47px);
}

#list {
    height: 100%;
    flex: 3;
}

#form {
    height: 100%;
    flex: 2;

    padding: 10px 20px;
}

#iImportant {
    color: #333;
    font-size: 30px;
    cursor: pointer;
}

#iImportant:hover {
    color: #212121;
}

.important-icon {
    color: #ee9617 !important;

}